*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*#pag-login{
    font-family: 'Lato', sans-serif;
    min-height: 60vw;
    display: flex;
    align-items: center;
    margin-top: -6vw;
    
}*/
#pag-criar-conta{
    display: flex;
    align-items: center;
    min-height: 60vw;
    margin-top: -6vw;
    background: rgb(36,41,57);
    background: linear-gradient(0deg, rgba(36,41,57,1) 0%, rgba(53,59,80,1) 100%, rgba(184,30,30,1) 100%);
}
.container-criar-conta{
    white-space: nowrap;
    margin: 0 auto;
    min-height: 30vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: white;
    border-top: 4px solid #F66B6B;
    max-width: 40vw;
}
.container-criar-conta .container-message-user{
    display: flex;
}
.container-criar-conta h1{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1vw;
}
.container-criar-conta p{
    color:#353b50;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 15px;
}
.container-criar-conta input{
    border: 1px solid rgb(228, 228, 228);
    margin-top: 0px;
    padding: 20px;
    border-bottom: 4px solid #F66B6B;
    width: 15vw;
    height: 2vw;
    display: block;
}

.container-criar-conta .form-control{
    border-radius: 0;
} 
.container-criar-conta .top-login{
    padding: 2vw;
}
.container-criar-conta .container-sexo-user{ 
    margin-top: 1vw;
    margin-right: 1vw;
    display: flex;
}
.container-criar-conta .container-sexo-user p{
    margin-top: 0px;
    font-size: 18px;
    font-weight: bolder;
}
.container-criar-conta .container-sexo-user input{ 
   width: 1vw;
   display: block;
   margin-left: 0.8vw;   
}
.container-criar-conta .container-sexo-user small{
    margin-top: 0px;
    margin-left: 1vw; 
    font-size: 15px;
    font-weight: bolder;
}
.container-criar-conta .container-email{
    margin-top: 4.3vw;
}
.container-criar-conta #submit{
    background-color: #F66B6B;
    border: none;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 1vw;
    width: 100%;
    padding: 15px 25px;
}
.container-criar-conta .container-realizar-login{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    padding: 1vw;
    background-color: #F66B6B;
    width: 100%;
    
}
.container-criar-conta .container-realizar-login h3{
    margin-right: 1vw;
    font-weight: bold;
    font-size: 16px;
}
.container-criar-conta .container-realizar-login a{
    border: none;
    color: white;
    text-decoration: none;

    
}
.container-criar-conta .top-login{
    top: 0;
}

/*TELA DE LOGIN*/
#pag-login{
    background: rgb(36,41,57);
    background: linear-gradient(0deg, rgba(36,41,57,1) 0%, rgba(53,59,80,1) 100%, rgba(184,30,30,1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-login{
    background-color: white;
    border-top: 4px solid #F66B6B;
    min-width: 20vw;
    min-height: 17vw;
}
.container-login .top-login{
    padding: 2vw;
    position: relative;
    display: flex;
    flex-direction: column;
}
.container-login .top-login h1{
    margin-bottom: 1vw;
}
.container-login .top-login input{
    border: 1px solid rgb(228, 228, 228);
    margin-top: 0px;
    padding: 20px;
    border-bottom: 4px solid #F66B6B;
    height: 2vw;
    margin-bottom: 1vw;
}
.container-login .top-login small{
    font-weight: bolder;
    margin-bottom: 5px;
}
.container-login .top-login #entrar{
    border: none;
    background: rgb(246,107,107);
    background: linear-gradient(0deg, rgba(246,107,107,1) 0%, rgba(246,46,46,1) 100%);
    color: white;
    cursor: pointer;
    justify-content: center;
    font-weight: bolder;
    width: 100%;
    display: flex;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 1vw;
}
.container-login .top-login a{
    color: white;
    text-decoration: none;
    font-style: normal;
}
.container-login .top-login h3{
    text-align: center;
}
.container-login .top-login #recuperar-senha{
    color: #353b50;
    font-size: 16px;
}
.criarConta{
    justify-content: center;
    padding: 20px;
    background-color: #F66B6B;
    flex-wrap: nowrap;
    display: flex;
}
.criarConta a{
    color: white;
    text-decoration: none;
    font-style: normal;
    padding-left: 1vw;
}